body {
  margin: 0;
  padding: 0;
}

.drawer .el-drawer__header {
  height: 40px;
  line-height: 40px;
  margin: 0 !important;
  padding: 10px !important;;
}

.list span {
  color: #a6a6a6!important;
}

#nprogress .bar {
  height: 4px;
}

